*{
    margin: 0px;
    padding: 0px;
}
header img{
    width: 200px;

}
nav img{
    width: 300px;
}
header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 10PX;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:black;
    font-size: 24px;
    padding: 10px;
    text-shadow: 0 0 3px white;
}
.categorias{
    height: 300px;
    background-size: cover;
    background-position: bottom;
    text-decoration: none;
    color:white;
    font-size: 24px;
    padding: 10px;
    text-shadow: 0 0 3px black;
}

footer{
    height: 200px;
    padding: 10px;  
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
}
main nav{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

}
header svg{
    margin: 1rem;
    width: 2rem;
    height: 2rem;
}
footer svg{
    margin: 1rem;
    width: 2rem;
    height: 2rem;
}
.grilla{
    height: 300px;
    background-size: cover;
    background-position: center;
    
}
button{
    height: 50px;
    width: 150px;
    place-self: center;
}



@media (min-width: 600px){
    
    main nav{
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 5px;

    }
    nav img{
        width: 350px;
    }

}
@media (min-width: 800px){
    main nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    }
    .articulo{
        grid-area: 3fr;
    }
}