*{
           margin: 0px;
           padding: 0px;
       }
       header img{
           width: 200px;

       }
       header {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: space-between;
            padding: 10PX;
        }
       body{
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
      .categorias{
            height: 300px;
            background-size: cover;
            text-decoration: none;
            color:white;
            font-size: 24px;
            padding: 10px;
            text-shadow: 0 0 3px black;
      }
       
       footer{
           height: 200px;
           padding: 10px;  
           display: flex; 
           align-items: flex-end;
           justify-content: flex-end;
       }
       main nav{
           display: grid;
           grid-template-columns: 1fr;
           gap: 5px;

       }
       header svg{
           margin: 1rem;
           width: 2rem;
           height: 2rem;
       }
       footer svg{
           margin: 1rem;
           width: 2rem;
           height: 2rem;
       }
       
       @media (min-width: 600px){
           
           main nav{
                display: grid;
                grid-template-columns: 1fr 1fr;

                gap: 5px;
        }
           nav{
               
           }
        }
        @media (min-width: 800px){

        }